
.text-balkje{
    display: flex;
    margin-left: 27%;
    margin-top: 15px;
    width: 50%;
    height: 50px;  
  
  }
  .verzend-knop{
    display: flex;
    margin-left: 45%;
    margin-top: 20px;
    width: 10%;
  }

.voornaam{
  display: flex;
  margin-left: 27%;
    margin-top: 15px;
    width: 50%;
    height: 50px;   
}

.leeftijd{

  margin-left: 27%;
  margin-top: 15px;
  width: 50%;
  height: 50px;  
}

.geslacht{
  margin-left: 27%;
    margin-top: 15px;
    width: 50%;
    height: 50px;  
}